@model Entity.Concrete.PostCategory

@{
    ViewData["Title"] = "Addd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("Add", "PostCategory", FormMethod.Post))
{
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-1 col-form-label text-lg-end">Kategori:</label>
        <div class="col-sm-11">
            @Html.ValidationMessageFor(x=>x.Name, "", new { @class = "text-danger" })
            @Html.TextBoxFor(x=>x.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-info btn-lg"><i class="bi bi-plus text-white"></i></button>
            </div>
        </div>
    </div>
}