<head>
	<title>Admin - Akın Ünal | Chef & Entrepreneur</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="/Templates/admin-template/favicon.png">

	<script defer src="/Templates/admin-template/assets/plugins/fontawesome/js/all.min.js"></script>

	<link id="theme-style" rel="stylesheet" href="/Templates/admin-template/assets/css/portal.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>