
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sayfa Bulunamadı! - Personal Blog App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="favicon.ico">

    <script defer src="/Templates/admin-template/assets/plugins/fontawesome/js/all.min.js"></script>

    <link id="theme-style" rel="stylesheet" href="/Templates/admin-template/assets/css/portal.css">

</head>

<body class="app app-404-page" style="margin: 0; padding: 0;">

    <div class="container">
        <div class="row align-items-center vh-100">
            <div class="col-12 col-md-11 col-lg-7 col-xl-6 mx-auto">
                <div class="app-branding text-center mb-5">
                    <a class="app-logo" href="/Home"><img class="logo-icon" src="/Templates/admin-template/favicon.png" alt="logo"><span class="logo-text">Akın Ünal</span></a>
                </div>
                <div class="app-card p-5 text-center shadow-sm">
                    <h1 class="page-title mb-4">404<br><span class="font-weight-light">Sayfa Bulunamadı</span></h1>
                    <a class="btn app-btn-primary" href="/Home">Ana sayfaya dön</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

