@model IEnumerable<Entity.Concrete.TrainingCategory>

<li class="has-children">
    <a href="#0" title="">EĞİTİMLER</a>
    <ul class="sub-menu">
        @foreach (var x in Model)
        {
            <li><a href="/TrainingCategory/Posts/@x.Id">@x.Name</a></li>
        }
    </ul>
</li>