@model List<Entity.Concrete.TrainingComment>

<div id="comments" class="row">
    <div class="col-full">

        <h3 class="h2">@ViewBag.CommentCount Yorum</h3>

        <ol class="commentlist">
            @foreach (var x in Model)
            {
                <li class="comment" style="padding: 0;">
                    <div class="comment__content">
                        <div class="comment__info">
                            <div class="comment__author">@x.FullName</div>
                            <div class="comment__meta">
                                <div class="comment__time">@x.Date.ToShortDateString()</div>
                            </div>
                        </div>
                        <div class="comment__text">
                            <p>
                                @x.Content
                            </p>
                        </div>
                    </div>
                </li>
            }
        </ol>
    </div>
</div>