@model Entity.Concrete.About

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("Edit", "About", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-1 col-form-label text-lg-end">Başlık:</label>
        <div class="col-sm-11">
            @Html.ValidationMessageFor(x=>x.Title, "", new { @class = "text-danger" })
            @Html.TextBoxFor(x=>x.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-1 col-form-label text-lg-end">Resim:</label>
        <div class="col-sm-11">
            <input type="file" class="form-control" name="Image">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-1 col-form-label text-lg-end">İçerik:</label>
        <div class="col-sm-11">
            @Html.ValidationMessageFor(x=>x.Content, "", new { @class = "text-danger" })
            @Html.TextAreaFor(x=>x.Content, new { @class = "form-control", @rows = "7" })
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success btn-lg"><i class="bi bi-pencil-square text-white"></i></button>
            </div>
        </div>
    </div>
}