@model List<Entity.Concrete.Message>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@foreach (var x in Model)
{
    <div class="row">
        <div class="col-12">
            <div class="mb-3 row">
                <label><span class="fw-bold">Ad-Soyad</span>: @x.FullName</label>
            </div>
            <div class="mb-3 row">
                <label><span class="fw-bold">E-Mail</span>: @x.Email</label>
            </div>
            <div class="mb-3 row">
                <label><span class="fw-bold">Tarih</span>: @x.Date.ToShortDateString()</label>
            </div>
            <div class="mb-3 row">
                <label><span class="fw-bold">Mesaj</span>: @x.Content</label>
            </div>
        </div>
    </div>
}