<!DOCTYPE html>
<html class="no-js">

    @await Component.InvokeAsync("Head")
    
<body id="top">

    @await Component.InvokeAsync("Header")

    @await Component.InvokeAsync("Preloader")

    @RenderBody()

    @await Component.InvokeAsync("Footer")

    @await Component.InvokeAsync("Scripts")

</body>
</html>